quart

# Python Dependencies

# pillow
# requests
dynaconf
python-slugify
yaml-config

# Flask Dependencies

# flask-csp
# flask-dance
# flask-featureflags
# flask-gravatar
# flask-limiter
# flask-mail
# flask-paginate
# flask-script
# flask-seasurf
flask-bcrypt
flask-caching
flask-login
flask-wtf
flask-zodb
