<!-- Defaults -->
<script src="{{ url_for('static', filename='js/core/jquery.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/core/popper.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}" charset="utf-8"></script>

<!-- Plugins -->
<script src="{{ url_for('static', filename='js/plugins/datepicker.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/plugins/nouislider.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/plugins/switch.min.js') }}" charset="utf-8"></script>

<!-- Theme -->
<script src="{{ url_for('static', filename='js/now.min.js') }}" charset="utf-8"></script>
