{% extends 'base/base.j2.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% set purge_above_content = True %}

{% block core %}

	<div class="container">
		<div class="justify-content-center align-items-center text-center">

			<div id="error-page">

				<h1 class="error-page-title">404</h1>

				<div class="error-page-text">
					<div>Oops, we couldn't find the page you were looking for.</div>
					<div>If you're sure the URL is correct, please contact a site administrator.</div>
				</div>

				<div class="error-page-cta">
					<a class="btn btn-lg btn-primary" href="">Back to Home Page</a>
				</div>

			</div>

		</div>
	</div>

{% endblock %}
