<!DOCTYPE html>
<html lang="en">

<head>

  <title>
    {{ config['SITE_TITLE'] }}
    {% if self.title() %} -
      {% block title %}{% endblock %}
    {% endif %}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block meta %}{% endblock %}

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% include 'base/stylesheets.html.j2' %}

  {% block stylesheet %}{% endblock %}

</head>

<body>

  <div id="main-content">

    {% if not purge_above_content %}
      {% include 'base/navbar.html.j2' %}
    {% endif %}

    {% include 'base/alerts.html.j2' %}

    {% block header %}{% endblock %}

    {% block main %}
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    {% if not purge_below_content %}
      {% include 'base/footer.html.j2' %}
    {% endif %}

  </div>

  {% include 'base/scripts.html.j2' %}

  {% block javascript %}{% endblock %}

</body>

</html>
