{% extends 'base/base.html.j2' %}

{% block title %}
  {{ site.title }}
{% endblock %}

{% block content %}

  <h1 class="pb-2 mt-4 mb-2 border-bottom">
    {{ site.title }}
  </h1>

  <p class="lead">
    {{ site.desc }}
  </p>

{% endblock %}
