<!-- Defaults -->
<script src="{{ url_for('static', filename='js/core/jquery.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/core/popper.min.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/core/bootstrap.min.js') }}" charset="utf-8"></script>

<!-- Theme -->
<script src="{{ url_for('static', filename='js/argon.min.js') }}" charset="utf-8"></script>
