<!-- Theme -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/jam.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/argon.min.css') }}">

<!-- Custom -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}">
